.fullpage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.fit {
  flex: 2;
  overflow: auto;
  font-size: 1.15rem;
}

img {
  width: 100%;
  height: auto;
  z-index: 2;
}
