<section class="container-fluid fullpage">
  <app-floatter
    src="assets/images/about_us_postit.svg"
    alt="About us"
    position="right"
  ></app-floatter>
  <div class="row fit" fxLayout="row" fxLayoutAlign="center center">
    <div
      class="col-12 col-md-6"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="end center"
    >
      <div
        class="m-3 text-center"
        fxFlex="80%"
        fxFlex.sm="60%"
        fxFlex.gt-md="70%"
        fxFlex.xl="60%"
      >
        <img class="image" src="assets/images/sarah.png" alt="Sarah Suleri" />
        <p class="name">Sarah Suleri</p>
        <p class="detail">Design Thinking Factory</p>
        <p class="detail">User Centered Ubiquitous Computing</p>
        <p class="detail">Fraunhofer FIT</p>
        <p class="detail">Germany</p>
        <p class="detail">
          <a href="mailto:suleri@fit.fraunhofer.de">suleri@fit.fraunhofer.de</a>
        </p>
        <div class="links justify-content-center align-items-center">
          <ul class="row">
            <li class="col">
              <a href="https://www.linkedin.com/in/sarahsuleri/">
                <img src="assets/images/linkedin.svg" alt="linkedin" />
              </a>
            </li>
            <li class="col">
              <a href="https://www.xing.com/profile/Sarah_Suleri">
                <img src="assets/images/xing.png" alt="xing" />
              </a>
            </li>
            <li class="col">
              <a
                href="https://www.design-thinking-factory.fit.fraunhofer.de/en.html"
              >
                <img src="assets/images/www.png" alt="website" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="col-12 col-md-6"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="start center"
    >
      <div
        class="m-3 text-center"
        fxFlex="80%"
        fxFlex.sm="60%"
        fxFlex.gt-md="70%"
        fxFlex.xl="60%"
      >
        <img class="image" src="assets/images/marc.png" alt="Sarah Suleri" />
        <p class="name">Marc Jentsch</p>
        <p class="detail">Design Thinking Factory</p>
        <p class="detail">User Centered Ubiquitous Computing</p>
        <p class="detail">Fraunhofer FIT</p>
        <p class="detail">Germany</p>
        <p class="detail">
          <a href="mailto:jentsch@fit.fraunhofer.de"
            >jentsch@fit.fraunhofer.de</a
          >
        </p>
        <div class="links justify-content-center align-items-center">
          <ul class="row">
            <li class="col">
              <a href="https://www.linkedin.com/in/marc-jentsch-828a8a104/">
                <img src="assets/images/linkedin.svg" alt="linkedin" />
              </a>
            </li>
            <li class="col">
              <a href="https://www.xing.com/profile/Marc_Jentsch">
                <img src="assets/images/xing.png" alt="xing" />
              </a>
            </li>
            <li class="col">
              <a
                href="https://www.design-thinking-factory.fit.fraunhofer.de/en.html"
              >
                <img src="assets/images/www.png" alt="website" />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
