<div class="background">
  <app-left
    floatterSrc="assets/images/bulbs.png"
    floatterAlt="bulbs"
    floatterPosition="home"
    imageSrc="assets/images/logo.svg"
    imageAlt="Brainstorming 101"
    text="Brainstorming 101 is an introductory course intended for beginner
   researchers and practitioners. Throughout the course, they will get
   acquainted with various ideation techniques to aid them in different
   phases of product design. As a result, the participants will get
   hands-on experience of various ideation techniques suited to address
   these questions. Furthermore, they shall explore the key features, pros,
   and cons of each technique."
  ></app-left>
  <app-right
    floatterSrc="assets/images/questorming_postit.png"
    floatterAlt="Lotus blossom"
    floatterPosition="left"
    imageSrc="assets/images/questorming.png"
    imageAlt="Questorming Technique"
    text="Questorming is a technique to generate questions related to a problem statement. By generating these questions, participants explore different angles to attack the problem. At the end of the exercise, the participants shall be asked to pick a sub-problem they want to pursue in the upcoming sections."
  >
  </app-right>
  <app-left
    floatterSrc="assets/images/lotus_blossom.png"
    floatterAlt="Lotus blossom"
    floatterPosition="right"
    imageSrc="assets/images/lotus.svg"
    imageAlt="Lotus Blossom Technique"
    text="Lotus blossom is one such unconventional technique that enables the participants to explore various approaches to tackle a problem in a very creative manner. Participants are asked to draw blossoms as they generate these approaches. In doing so, they keep the main problem in the middle, and each petal they draw denotes a unique approach to tackle the central problem."
  >
  </app-left>
  <app-right
    floatterSrc="assets/images/group_passing_postit.png"
    floatterAlt="Group Passing"
    floatterPosition="left"
    imageSrc="assets/images/group_passing.png"
    imageAlt="Group Passing Technique"
    text="Group passing technique is a group activity that enables multiple participants to pitch in their thoughts into evolving ideas and approaches. At the end of this technique, the participants attain expanded versions of their initial ideas. The strength of this ideation technique is that the contributions of various participants evolve each approach to solve the problem."
  ></app-right>
  <app-left
    floatterSrc="assets/images/team_idea_mapping_postit.png"
    floatterAlt="Team Idea Mapping"
    floatterPosition="right"
    imageSrc="assets/images/team_idea_mapping.png"
    imageAlt="Team Idea Mapping Technique"
    text="Team idea mapping is one such group technique where multiple participants can associate different ideas to evolve them further. As a result of this technique, participants obtain a further evolved solution to the problem. "
  >
  </app-left>
  <app-right
    floatterSrc="assets/images/pessimist_optimist_postit.png"
    floatterAlt="Pessimist vs Optimist"
    floatterPosition="left"
    imageSrc="assets/images/pessimist_optimist.png"
    imageAlt="Pessimist vs Optimist Technique"
    text="Pessimist vs. Optimist is one such technique that divides the participants into two groups. The optimistic group presents their solution and highlights its strengths.  The other group, a.k.a pessimistic group, is responsible for critiquing the solution. With each critique put forward, the optimistic group tries to overcome these weaknesses by generating new ideas for improving the existing solution. As a result of this technique, participants attain an improved version of their existing solution."
  ></app-right>
</div>
