<section class="container-fluid fullpage">
  <div class="float-top">
    <img src="../assets/images/bulbs.png" alt="Bulbs" />
  </div>
  <div class="row fit" fxLayoutAlign="center center">
    <div
      class="col-12 col-md-6"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="end center"
    >
      <div
        class="m-3"
        fxFlex="80%"
        fxFlex.sm="60%"
        fxFlex.gt-md="70%"
        fxFlex.xl="60%"
      >
        <img src="../assets/images/logo.svg" alt="Brainstorming 101" />
      </div>
    </div>
    <div
      class="col-12 col-md-6"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="start center"
    >
      <div class="m-3" fxFlex="90%" fxFlex.gt-md="70%" class="text-justify">
        Brainstorming 101 is an introductory course intended for beginner
        researchers and practitioners. Throughout the course, they will get
        acquainted with various ideation techniques to aid them in different
        phases of product design. As a result, the participants will get
        hands-on experience of various ideation techniques suited to address
        these questions. Furthermore, they shall explore the key features, pros,
        and cons of each technique.
      </div>
    </div>
  </div>
</section>
