/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities"; // add css utilities
@import "./assets/styles/reset";

html,
body {
  font-family: "Scope One", serif;

  min-height: 100vh;
  height: auto;
  margin: 0;
}

.background {
  display: inline-block;
  position: relative;
}

.background:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("./assets/images/bg.svg");
  background-size: contain;
  background-repeat: repeat-y;
  z-index: 1;
}

.home {
  position: absolute;
  z-index: -1;
  max-width: 40vw;

  img {
    width: 100%;
    height: auto;
  }
}

.right {
  position: absolute;
  z-index: -999;
  max-width: 40vw;
  top: 1rem;
  right: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .right {
    top: 4rem;
    right: 4rem;
  }
}

.left {
  position: absolute;
  z-index: -1;
  max-width: 40vw;
  top: 1rem;
  left: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

@include media-breakpoint-up(md) {
  .left {
    top: 4rem;
    left: 4rem;
  }
}
